.header {
  align-items: center;
  width: 80%;
  background-color: white;
  margin-left: 100px;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: #444;
}

.headerTitleSm {
  position: absolute;
  top: 18%;
  font-size: 20px;
}

.headerTitleLg {
  position: absolute;
  top: 20%;
  font-size: 100px;
}

.headerImg {
  width: 60%;
  height: 20%;
  margin-top: 75px;
  margin-left: 300px;
  object-fit: cover;
  margin-right: 0;
  align-items: center;
}
